TZ="TOBEMODIFIED"

TRAEFIK_HOST="TOBEMODIFIED"
TRAEFIK_ROUTER="TOBEMODIFIED"
TRAEFIK_MIDDLEWARE="TOBEMODIFIED"
TRAEFIK_SERVICE="TOBEMODIFIED"

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS="TOBEMODIFIED"
N8N_HOST="TOBEMODIFIED"
N8N_PORT="TOBEMODIFIED"
N8N_PROTOCOL="TOBEMODIFIED"
N8N_RUNNERS_ENABLED="TOBEMODIFIED"
NODE_ENV="TOBEMODIFIED"
WEBHOOK_URL="TOBEMODIFIED"
GENERIC_TIMEZONE="TOBEMODIFIED"
N8N_PROXY_HOPS="TOBEMODIFIED"
DB_SQLITE_POOL_SIZE="TOBEMODIFIED"
N8N_BLOCK_ENV_ACCESS_IN_NODE="TOBEMODIFIED"
N8N_GIT_NODE_DISABLE_BARE_REPOS="TOBEMODIFIED"