# DOCKER
TZ="TOBEMODIFIED"

# TRAEFIK
TRAEFIK_HOST="TOBEMODIFIED"
TRAEFIK_ROUTER="TOBEMODIFIED"
TRAEFIK_MIDDLEWARE="TOBEMODIFIED"
TRAEFIK_SERVICE="TOBEMODIFIED"

# N8N PRIMARY ENV
DOMAIN_NAME="TOBEMODIFIED"
SUBDOMAIN="TOBEMODIFIED"
GENERIC_TIMEZONE="TOBEMODIFIED"

# N8N SECONDARY ENV
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS="TOBEMODIFIED"
N8N_PORT="TOBEMODIFIED"
N8N_PROTOCOL="TOBEMODIFIED"
NODE_ENV="TOBEMODIFIED"
N8N_RESTRICT_FILE_ACCESS_TO="TOBEMODIFIED"
N8N_RUNNERS_MODE="TOBEMODIFIED"
N8N_RUNNERS_BROKER_LISTEN_ADDRESS="TOBEMODIFIED"
N8N_NATIVE_PYTHON_RUNNER="TOBEMODIFIED"
N8N_RUNNERS_TASK_TIMEOUT="TOBEMODIFIED"
N8N_COMPRESSION_NODE_MAX_DECOMPRESSED_SIZE_BYTES="TOBEMODIFIED"
N8N_COMPRESSION_NODE_MAX_ZIP_ENTRIES="TOBEMODIFIED"

# N8N RUNNERS
N8N_RUNNERS_TASK_BROKER_URI="TOBEMODIFIED"
N8N_RUNNERS_LAUNCHER_HEALTH_CHECK_PORT="TOBEMODIFIED"

# BOTH
N8N_RUNNERS_AUTH_TOKEN="TOBEMODIFIED"

# STATIC
N8N_HOST="${SUBDOMAIN}.${DOMAIN_NAME}"
N8N_WEBHOOK_URL="https://${SUBDOMAIN}.${DOMAIN_NAME}/"
N8N_UNVERIFIED_PACKAGES_ENABLED="true"
N8N_PROXY_HOPS="1"
DB_SQLITE_POOL_SIZE="6"
N8N_BLOCK_ENV_ACCESS_IN_NODE="false"
N8N_GIT_NODE_DISABLE_BARE_REPOS="true"