TZ="TOBEMODIFIED"

TRAEFIK_HOST="TOBEMODIFIED"
TRAEFIK_ROUTER="TOBEMODIFIED"
TRAEFIK_SERVICE="TOBEMODIFIED"

JWT_SECRET="TOBEMODIFIED"
INITIAL_PASSWORD="TOBEMODIFIED"
DATA_DIR="TOBEMODIFIED"
PORT="TOBEMODIFIED"
HOSTNAME="TOBEMODIFIED"
NODE_ENV="TOBEMODIFIED"
BASE_URL="TOBEMODIFIED"
CLOUD_URL="TOBEMODIFIED"
NEXT_PUBLIC_BASE_URL="TOBEMODIFIED"
NEXT_PUBLIC_CLOUD_URL="TOBEMODIFIED"
API_KEY_SECRET="TOBEMODIFIED"
MACHINE_ID_SALT="TOBEMODIFIED"
ENABLE_REQUEST_LOGS="TOBEMODIFIED"
AUTH_COOKIE_SECURE="TOBEMODIFIED"
REQUIRE_API_KEY="TOBEMODIFIED"
HTTP_PROXY="TOBEMODIFIED"
HTTPS_PROXY="TOBEMODIFIED"
ALL_PROXY="TOBEMODIFIED"
NO_PROXY="TOBEMODIFIED"